*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}


nav{
    background-color: rgb(6, 6, 26);
}

nav .container {
    width: 1200px;
    background-color: rgb(15, 5, 15);
    margin: auto;
    padding: 25px;
}
.container .list {
    list-style-type: none;
    text-align: center;
    margin: 0;
}
.container .list a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    position: relative;
}
.container .list li {
    display: inline-block;
    padding: 0 10px;
}
.container .list .ken {
    position: relative;
}
.container .list a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: goldenrod;
    left: 0;
    bottom: -25px;
    visibility: hidden;
    transition: 0.7s;
}
.container .list a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: goldenrod;
    right: 0;
    top: -25px;
    visibility: hidden;
    transition: 0.7s;}
.container .list a:hover::before{
    visibility: visible;
    width: 100%;
}

.container .list a:hover::after {
    visibility: visible;
    width: 100%;
}
nav .parent{
    position: relative;
}
nav .sub_comp {
    background-color: rgb(0, 255, 76);
    position: absolute;
    margin-top: 50px;
    visibility: hidden;
    transition: 0.5s;
}
nav .sub_comp li a {
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    margin: 3px 0;
}
nav .parent:hover .sub_comp {
    visibility: visible;
    margin-top: 20px;
}